#mainBox{
    border: 1px solid green;
    width: 100%;
    height: 4000px;
    /* overflow: hidden; */
}
#firstContainer{
display: flex;
}
#filter{
    width: 360px;
    height: 1190px;
    border: 1px solid red;
}
#product{
    width: 1430px;
    height: 1190px;
    border: 1px solid blue;
}
#productlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#box{
    border: 1px solid darkmagenta;
    width:  280px;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}
#box>p{
font-size: large;
font-family: system-ui;
}
#box:hover{
cursor: pointer;
}
.featured{
    width: 100%;
    height: 45%;
   cursor: pointer;
   /* margin-bottom: 10px; */
}
.thumbnail{
    width: 55px;
    height: 90%;
    margin-right: 5px;
    border: 1px solid rgb(155, 138, 118);
}
.thumbnail:hover{
    opacity: 1;
}
.active{
    opacity: 1;
}
#cont{
    font-size: large;
    font-family: system-ui;
    /* font-weight: 1000px; */
}

#box:hover #name{
    text-decoration:underline ;
}
#box:hover #price{
    margin-top: -450px;
    margin-bottom: 420px;
    color: rgb(128, 9, 0);
}
#cont:hover{
    color: blue;
}
#dropup{
    /* border: 1px solid red; */
  padding-left: 1000px;
    height: 40px; 
    /* display: none; */
}
#box:hover #dropup{
    padding-left: 10px;
    height: 50px;
}
#disImage{
    /* border: 1px solid red; */
    width: 15%;
    height: 7.5%;
    margin-right: 90%;
}

#loadButton{
    padding: 15px 50px ;
    background-color: white;
    font-family: system-ui;
    border-radius: 5px;
    margin-left: 55%;
}
#loadButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#name{
    font-weight: 400;
}
#showLine{
    font-weight: 400;
    font-size: 400;
    font-weight: 450;
    font-family: system-ui;
     margin-left: 55%;
}
#sliderBox{
    border: 1px solid red;
    height: 80px;  
}
#slider{
    color: transparent;
    height: 10px;
    width: 250px;
    margin-left: 10px;
    border: 1px solid black;
}
#slider::-webkit-slider-thumb{
    opacity: 1;
    border: 1px solid black;
    background-color: red;
    border-radius: 100px;
}
#profilterBox{
    border: 1px solid yellowgreen;
    height: 100px;
}
#proCategorie{
    padding-right: 52%;
    padding-bottom: 10px;
    border: transparent;
    
}
#proLine{
    font-weight: bold;
}
.line{
    background-color: rgb(221, 216, 209);
    /* border: 1px solid red; */
    height: 0.2px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#sizefilterBox{
    border: 1px solid red;
    height: 100px;
}
#sizebox{
  padding-right: 76%;
  border: transparent;
}
#colorbox{
    padding-right: 74%;
    border: transparent;
}
#clouserbox{
    padding-right: 69%;
    border: transparent;
}





#container{
    font-family: Lato, sans-serif;
}
#Zreview{
    /* border: 1px solid black; */
    width: 100%;
    height: 636px;
    text-align: center;
    display: grid;
    grid-template-columns: 425px 425px 425px;
    grid-template-rows: 80px 350px 25px;
    grid-gap: 25px;
    text-align: center;
    grid-template-areas: 
    "h h h"
    "mid1 mid2 mid3"
    "b b b";
    justify-content: center;
    background-color: #837418;
    color: white;
    font-family: Lato, sans-serif;
}
#head{
    grid-area: h;
    /* border: 1px solid blue; */
    padding: 20px;
}
#head > h1{
    font-weight: lighter;
    font-size: 36px;
}
#z1{
    grid-area: mid1;
    /* border: 1px solid orange; */
}
#z2{
    grid-area: mid2;
    /* border: 1px solid orange; */
}
#z3{
    grid-area: mid3;
    /* border: 1px solid orange; */
}
#bottom{
    grid-area: b;
    /* border: 1px solid saddlebrown; */
}
#z1 > p{
    line-height: 35px;
    padding: 25px;
    font-size: 19px;
}
#z2 > p{
    line-height: 35px;
    padding: 25px;
    font-size: 19px;
}
#z3 > p{
    line-height: 35px;
    padding: 25px;
    font-size: 19px;
}
#revbtn{
    padding-right: 15px;
    padding-left: 10px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: transparent;
    background-color: #ffce61;
    font-size: 15px;
    font-family: system-ui;
}
#revbtn:hover{
 background-color: white;
 color: black;
}
#Zfooter{
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: black;
    margin: 0px auto;
    left: 0;
    right: 0;
}
#Znav{
    margin-top: 15px;
    font-family: Lato, sans-serif;
}
#Znav > a:hover{
    color: #ffce61;
}
#googlePlay{
    margin-top: 60px;
}
a{
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
 #social{
     height: 60px;
 }
 #ficon{
     background-color: #ffce61;
     width: 20px;
     height: 20px;
     margin-bottom: 810px;
     margin-top: 11px;
     border-radius: 100px;
     padding: 10px;
     margin-right: 6px;
 }
 #Iicon{
    background-color: #ffce61;
    width: 20px;
    height: 20px;
    margin-bottom: 810px;
    margin-top: 11px;
    border-radius: 100px;
    padding: 10px;
 }
 .SocialIcon:hover{
   cursor: pointer;
   background-color: rgb(12, 11, 12);
 }
 
i{
    margin-top: 13px;
    text-align: center;
}
