#container{
    width: 962px;
    height: 1106.85px;
    margin: auto;
    border: 1px solid red;
}

.flex{
    display: flex;
}
.short{
    width: 442.74px;
    height: 90.5px;
}
.long{
    width: 960px;
    height: 90.5px;
}
.inputbox{
    border:1px solid rgb(228, 220, 220);
    height: 56.25px;
    width: 430px;
    margin-top: 4px;
}
.large_inputbox{
   border:1px solid rgb(228, 220, 220);
    height: 56.25px;
    width: 948px;
    margin-top: 4px;
}
.extralong{
    height: 169.25px;
    width: 100%;
}
.extralong_inputbox{
    border:1px solid rgb(228, 220, 220);
    height: 135px;
    width: 948px;
    margin-top: 4px;
}
#container>div{
    margin-bottom: 10px;
}
.star{
    color: red;
}
*{
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 14px;
}
h2{
    font-weight: 600px;
    font-size: 24px;
}
#impline{
    font-style: italic;
    font-size: 16px;
    color: #a7a7a7 ;
}
button{
    margin-left: 442.74px;
    padding: 17px 25px;
    background-color:#f5d483;
    border: transparent;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
button:hover{
    background-color:  #ffce61 ;
}